:root{
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.582);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.table-container{
    margin-top:125px;
    margin-bottom: 125px;
}

.card-table{
    border-collapse:separate; 
    border-spacing:0 15px;
}

thead{
    border-spacing: 25px;
}

th, td{
    width:50px; 
    padding:5px;
    border:1px solid black;    
}

#set-num{
    width: 50px;
}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
  }

  /* Scrolling Table */
  h1{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-2px;
    font-size:2.5em;
    margin:20px 0;
  }
  
  .container{
    width:90%;
    margin:auto;
  }
  
  table{
    border-collapse:collapse;
    width:100%;
  }
  
  .blue{
    border:2px solid #1ABC9C;
  }
  
  .blue thead{
    background:#1ABC9C;
  }
  
  .purple{
    border:2px solid #9B59B6;
  }
  
  .purple thead{
    background:#9B59B6;
  }
  
  thead{
    color:white;
  }
  
  th,td{
    text-align:center;
    padding:5px 0;
  }
  
  tbody tr:nth-child(even){
    background:#ECF0F1;
  }
  
  tbody tr:hover{
  background:#BDC3C7;
    color:#FFFFFF;
  }
  
  .fixed{
    top:0;
    position:fixed;
    width:auto;
    display:none;
    border:none;
  }
  
  .scrollMore{
    margin-top:600px;
  }
  
  .up{
    cursor:pointer;
  }



/* Footer */

.section-footer{
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

}

.section-footer h2{
    font-size: 2rem;
    margin-bottom: 1rem;

}

.section-footer h3{
    margin-bottom: 0.7rem;
}

.section-footer a{
    line-height: 1.9;
    color: #ccc;
}

.section-footer a > i{
    color: #555;
    margin-right: 0.5rem;
}

.companyLinks{
    list-style-type: none;
}

/* email form */
.email-form{
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control{
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin:0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: rgb(66, 66, 66);
    cursor: pointer;
    border-radius: 0 20px 20px 0;

}

/* Media Queries */
@media(max-width: 700px){

    .jumbotron-fluid{
        background: contain;
        background-position: left;
    }
    .section-footer {
        padding: 2rem 0 ;
    }

    .section-footer .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .email-form .submit {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: #eee;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        color: rgb(66, 66, 66);
        cursor: pointer;
        border-radius: 0 20px 20px 0;
    
    }
}