 <!-- Footer -->
 <footer class="section-footer">
    <div class="container">
        <div>
            <h2>Social Media</h2>
            <a href="http://twitter.com">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="http://facebook.com">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/sd_card_collecting/" target="none">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
        <div>
            <h3>Company Links</h3>
            <ul class="companyLinks">
                <li><a href="#">Contact</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>
        <div>
            <h3>Subscribe</h3>
            <p>Take advantage of our monthly news letter.</p>
            <form action="/subscribe/add" method="POST">
                <div class="email-form">
                    <span class="form-control-wrap">
                        <input type="email" name="subscriber_email" id="email" size="40" class="form-control"
                            placeholder="email" />
                    </span>
                    <button type="submit" value="Subscribe" class="form-control submit">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</footer>