:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.582);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Merriweather', sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    background: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-size: 2.5em;
    margin: 20px 0;
}

.logo {
    margin-right: 10px;
}

.leftLinks {
    margin-left: auto;
    margin-right: auto;
}

.navcontain {
    display: block !important;
}

#navbarNavDropdown {
    font-size: 14px;
}

#my-row {
    width: 100%;
    margin: 0;
}

.section-1 {
    background-image: linear-gradient(rgba(255, 254, 254, 0.678), rgba(250, 250, 250, 0.096)), url(plainsunset.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.section-2 {
    background-color: whitesmoke;
    height: fit-content;
    font-size: larger;
    color: black;
    margin-bottom: 0;
}

.aboutText {
    text-align: left;
}

.siteFeatures {
    text-align: center;
    font-size: 16px;
}

.aboutText p {
    text-align: center;
}

.aboutText ul {
    display: inline-block;
    text-align: left;
}

.searchFunc {
    text-align: center;
}

.pokeDiv {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

/* Footer */

.section-footer {
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.section-footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section-footer h3 {
    margin-bottom: 0.7rem;
}

.section-footer a {
    line-height: 1.9;
    color: #ccc;
}

.section-footer a>i {
    color: #555;
    margin-right: 0.5rem;
}

.companyLinks {
    list-style-type: none;
}

/* email form */

.email-form {
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control {
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: rgb(66, 66, 66);
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

/* search form */

.search-form {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: #eee;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.search-form .search-control {
    /* display: block; */
    border: 0;
    outline: 0;
    color: black;
    background-color: transparent;
    font-family: inherit;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.search-form .submit {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 35px;
    background-color: #555;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: #ddd;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.newSets {
    text-align: center;
}

/* Sword and Shield Set */

#swshDiv1 .card .card-image img {
    max-height: 100%;
    text-align: center;
}

#swshDiv1 .card .card-image {
    padding-top: 15px;
    text-align: center;
}

#swshDiv1 a {
    text-decoration: none;
}

#swshDiv1 p {
    font-size: 16px;
}

#swshDiv1 a:hover {
    color: #4a4a4a;
}

#swshDiv1 {
    margin: 0;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#swshDiv1 .card {
    display: block;
    margin: 1em;
    padding: 1em;
    flex-basis: calc(33.33% - 2em);
    max-height: 267.75px;
    min-width: 250px;
    cursor: pointer;
    max-width: 405px;
}

#swshDiv1 p {
    font-size: 0.85rem;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    color: #4a4a4a;
    width: 100%;
    height: auto;
    max-height: 331.08px;
    position: relative;
    text-align: center;
}

/* .cardHead1 {
    background: #343a40;
    color: white;
    padding: 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
} */

.card-content {
    padding: 1.5rem;
}

.card:hover {
    transform: scale(1.1);
    transition-duration: .4s;
}

.setImg1 {
    max-width: 75%;
    height: 3rem;
}

.symbolImg1 {
    height: 30px;
    width: 30px;
}

/* Media Queries */

@media(max-width: 700px) {
    .jumbotron-fluid {
        background: contain;
        background-position: left;
    }
    .section-footer {
        padding: 2rem 0;
    }
    .pokeImg {
        width: 250px;
        height: 250px;
    }
    .section-footer .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .email-form .submit {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: #eee;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        color: rgb(66, 66, 66);
        cursor: pointer;
        border-radius: 0 20px 20px 0;
    }
    .search-form .submit {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: #eee;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        color: #ddd;
        cursor: pointer;
        border-radius: 0 20px 20px 0;
    }
}

/* dropdown functionality */

/* li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}