:root{
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0, 0, 0, 0.582);
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Merriweather', sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;  
    background: whitesmoke;
}

   h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
   }

a{
    color: var(--secondary-color);
    text-decoration: none;
}

  /* Scrolling Table */
  h1{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-2px;
    font-size:2.5em;
    margin:20px 0;
  }

.container{
    width: 100%;
}

.jumbotron-fluid{
    height: fit-content;
    font-size: larger;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

.charzDiv{
    margin-top: 3rem;
}

.setImg{
    max-width: 15%;
    height: auto;
}

/* Footer */

.section-footer{
    background: var(--primary-color);
    color: #fff;
    padding: 4rem 0;
}

.section-footer .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

}

.section-footer h2{
    font-size: 2rem;
    margin-bottom: 1rem;

}

.section-footer h3{
    margin-bottom: 0.7rem;
}

.section-footer a{
    line-height: 1.9;
    color: #ccc;
}

.section-footer a > i{
    color: #555;
    margin-right: 0.5rem;
}

.companyLinks{
    list-style-type: none;
}

/* email form */
.email-form{
    width: 100%;
    display: inline-block;
    background-color: #555;
    position: relative;
    border-radius: 20px;
    line-height: 0;
    margin-top: 1rem;
}

.email-form .form-control{
    display: inline-block;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: #ddd;
    background-color: transparent;
    font-family: inherit;
    margin:0;
    padding: 0 3rem 0 1.5rem;
    width: 100%;
    height: 45px;
    border-radius: 20px;
}

.email-form .submit{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #eee;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    color: rgb(66, 66, 66);
    cursor: pointer;
    border-radius: 0 20px 20px 0;

}

/* Media Queries */
@media(max-width: 700px){

    .jumbotron-fluid{
        background: contain;
        background-position: left;
    }
    .section-footer {
        padding: 2rem 0 ;
    }

    .charzImg{
        width: 250px;
        height: 250px;
      }

    .section-footer .container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .email-form .submit {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        height: 45px;
        background-color: #eee;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        color: rgb(66, 66, 66);
        cursor: pointer;
        border-radius: 0 20px 20px 0;
    
    }
}


/* dropdown functionality */
  
  /* li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }