<!doctype html>
<html lang="en">

<!-- </head> -->
<% include ./partials/head %>

<body>
    
    <!-- Navbar -->
    <% include ./partials/nav %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Card Collect Spreadsheets</h1>
            <div id="welcome-message"></div>
            <br>
            <p>On this page you will be able to create your own spreadsheets to track your Card sets and keep track of your investments/sales of cards.</p>
            <a class="btn btn-lg btn-primary" href="/sheets" role="button">Base Set</a>
            <a class="btn btn-lg btn-primary" href="/sheets" role="button">Jungle</a>
            <a class="btn btn-lg btn-primary" href="/sheets" role="button">Fossil</a>
            <div class="charzDiv"><img class="charzImg"src="charizard.png"  height="400px" alt="charizard"></div>
        </div>
    </div>

    <!-- Footer -->
    <% include ./partials/footer %>


    <!-- Optional JavaScript -->
    <% include ./partials/scripts %>
</body>

</html>