<!doctype html>
<html lang="en">

<!-- </head> -->
<% include ./partials/head %>

<!-- External CSS -->
<link rel="stylesheet" type="text/css" href="spreadsheet.css">
<link rel="stylesheet" type="text/css" href="sidenav.css">

<body>
    
    <!-- Navbar -->
    <% include ./partials/nav %>

    <span onclick="openNav()">open</span>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      


    <!-- Jumbotron -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Card Collect Spreadsheets</h1>
            <br>
            <p>On this page you will be able to create your own spreadsheets to track your Card sets and keep track of your investments/sales of cards.</p>
            <a class="btn btn-lg btn-primary" href="/cardSearch" role="button">Base Set</a>
            <a class="btn btn-lg btn-primary" href="/cardSearch" role="button">Jungle</a>
            <a class="btn btn-lg btn-primary" href="/cardSearch" role="button">Fossil</a>
            <div class="charzDiv"><img class="charzImg" src="charizard.png"  height="400px" alt="charizard"></div>
        </div>
    </div>
    
<!-- Use any element to open the sidenav -->


</div>
        <!-- Sheet -->
        <div class="container">
          <div id="target"></div>  
          <div id="collection">
            <div  class="checks"><input id="checkAll" type="checkbox" onClick="toggle(this);" value="Select All" class="collectionBox">Check All</div>
            <div class="collectCount">Collection Count: 0 of 102</div> 
          </div>
        </div>
    
        <table class="" id="resultsTable">
          <thead class="">
            <tr class="blue">
                <th class="pokeInfo">Owned</th>
                <th class="pokeInfo">Set No.</th>
                <th class="pokeInfo">Name</th>
                <th class="pokeInfo">Rarity</th>
                <th class="pokeInfo">Card Image</th>
            </tr>
        </thead>
        <tbody id="resultsBody">
    
        </tbody>
        </table>

    <!-- Footer -->
    <% include ./partials/footer %>


    <!-- Optional JavaScript -->
    <% include ./partials/scripts %>
    <script src="navSets.js"></script>
    <script type="module" src="cardsQuery.mjs"></script>
    
    <script>

function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
}

    </script>

</body>

</html>